{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        cjohansen/dumdom {:mvn/version "2024.02.19"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}}
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                 {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                  com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
                 :extra-paths ["target" "test" "resources"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
