body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

textarea.conflict {
    background-color: mistyrose;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#buffer {
    width: 100%;
    box-sizing: border-box;
}
