body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

textarea.conflict {
    background-color: mistyrose;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin: .5em;
}

.sync-status {
    width: 24px;
    height: 24px;
}

#buffer {
    width: 100%;
    height: 75vh;
    padding: .5em;
    box-sizing: border-box;
}

.version {
    color: lightgray;
}
